@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@layer base {
  body {
    @apply font-[Quicksand];
  }

  li {
    @apply px-4;
    @apply cursor-pointer
  }
}

/* mobile compatibility */
@media screen and (max-width:768px) {
  .display-nothing {
    display: none;
  }
}

@media screen and (max-width:640px) {
  .mobile-view640px {
    margin-left: -15px;
    padding-right: 120px !important;
  }
}

@media screen and (max-width:392px) {
  .mobile-view392px {
    margin-left: -40px;
  }
}

@media screen and (max-width:392px) {
  .mobile-view392px-home {
    padding-right: 40px !important;
    margin-left: -40px;
  }
}

@media screen and (max-width:320px) {
  .mobile-view320px {
    margin-left: -65px;
    text-align: left;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.home-container {
  display: block;
  position: relative;
  top: 42%;
  margin-top: -30px;
}


/* arrow indicator */
html {
  height: 190%;
}

body {
  background: #000;
  position: relative;
  height: 100%;
}

.arrow-container {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(0deg);
}

.arrow-container:hover {
  cursor: pointer;
}

.arrow-container:hover .arrow {
  top: 50%;
}

.arrow-container:hover .arrow:before {
  transform: translate(-50%, -50%) rotateZ(-50deg);
  background: #000000;
}

.arrow-container:hover .arrow:after {
  transform: translate(-50%, -50%) rotateZ(50deg);
  background: #000000;
}

.arrow {
  position: absolute;
  left: 50%;
  transition: all 0.4s ease;
}

.arrow:before,
.arrow:after {
  transition: all 0.4s ease;
  content: "";
  display: block;
  position: absolute;
  transform-origin: bottom right;
  background: #646464;
  width: 2px;
  height: 30px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotateZ(-55deg);
}

.arrow:after {
  transform-origin: bottom left;
  transform: translate(-50%, -50%) rotateZ(55deg);
}

.arrow:nth-child(1) {
  opacity: 0.3;
  top: 35%;
}

/* arrow indicator 2 */
.arrow-container1 {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 102.6%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(0deg);
}

.arrow-container1:hover {
  cursor: pointer;
}

.arrow-container1:hover .arrow1 {
  top: 50%;
}

.arrow-container1:hover .arrow1:before {
  transform: translate(-50%, -50%) rotateZ(-50deg);
  background: #000000;
}

.arrow-container1:hover .arrow1:after {
  transform: translate(-50%, -50%) rotateZ(50deg);
  background: #000000;
}

.arrow1 {
  position: absolute;
  left: 50%;
  transition: all 0.4s ease;
}

.arrow1:before,
.arrow1:after {
  transition: all 0.4s ease;
  content: "";
  display: block;
  position: absolute;
  transform-origin: bottom right;
  background: #EEEEEE;
  width: 2px;
  height: 30px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotateZ(-55deg);
}

.arrow1:after {
  transform-origin: bottom left;
  transform: translate(-50%, -50%) rotateZ(55deg);
}

.arrow1:nth-child(1) {
  opacity: 0.3;
  top: 35%;
}